body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(165, 207, 218),rgb(211, 120, 120));
}
section {
    width: 50%;
    height: 100vh;
    background: url("1.jpg")
      no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    margin-top: 50px;
}
section:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://i.postimg.cc/xC1RKfRH/splash.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    mix-blend-mode: screen;
}